@{
    ViewData["Title"] = "Home Page";
}

<h4>This Application is a test project to help my understanding of C#, .Net core, SQL and React.</h4>
<ul>    
    <li>The Goal of this project is work on SOLID design principles.</li>
    <li>Give myself a "playground" so that I can build HR features</li>  
    <li>Improve my SQL</li>
    <li>Improve my React</li>
</ul>

