<div>
    <h3>please enter the amount of hours worked</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="float-left">
        <p>Hours Worked</p>
    </div>
    <div class="float-right">
        <input type="text" style="margin: 1px 0 2px" name="TotalNumberOfDaysWorked " /><br />
        <br />
        <input type="submit" value="Save" />
    </div>
</form>
