
<form asp-controller="TimeWorkedAndVacation" asp-action="VacationTimeTotal">
    <p>
        Please Enter the total number of hours worked this pay period: <input type="number" name="SearchString">
        <input type="submit" value="Submit" />
    </p>
    <p>
        this employee has earned this number of days off:
        @Html.Display(model => model.TotalNumberOfAvailableVacationDays)
    </p>
    
</form>


<!--input == what are the total number of hours worked

output total number of vacation days

submit button-->
