@model System.Collections.Generic.IEnumerable<stunning_robot_HR.Models.Staff>
<!-- this caused an error-->



<form asp-controller="SearchForStaff" asp-action="GetStaffByFullName">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>