@model System.Collections.Generic.IEnumerable<stunning_robot_HR.Models.Staff>

<form asp-controller="Staff" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>